@font-face {
  font-family: "pokemonSolid";
  src: url("../../utils/fonts/Pokemon\ Solid.ttf");
}

.board {
  display: block;
  padding-top: 20px;
  width: 450px;
  height: 350px;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.letter {
  width: 12%;
  font-family: "pokemonSolid", sans-serif;
  font-size: 24px;
  color: #fafaff;
  text-shadow: 1px 2px black;
  border-radius: 10%;
  height: 50px;
  margin-right: 4px;
  margin-bottom: 4px;
  display: flex;
  place-items: center;
  justify-content: center;

  background: rgba(58, 57, 60, 0.5);
}

@keyframes rotateLetter {
  0% {
    background-color: rgba(58, 57, 60, 0.5);
    transform: rotateY(0deg);
  }
  40% {
    background-color: rgba(58, 57, 60, 0.5);
    transform: rotateY(90deg);
  }
}

#correct {
  animation-name: rotateLetter;
  animation-duration: 0.75s;
  background-color: #3aa394;
}

#almost {
  animation-name: rotateLetter;
  animation-duration: 0.75s;
  background-color: #d3ad69;
}

#error {
  background-color: #3a393c;
}
